[submodule "Sora"]
	path = Sora
	url = https://github.com/BAKAOLC/Sora.git
[submodule "PoetryDatabase"]
	path = PoetryDatabase
	url = https://github.com/BAKAOLC/PoetryDatabase.git
[submodule "GifCompress"]
	path = GifCompress
	url = https://github.com/BAKAOLC/GifCompress.git