/Ritsukage-Core/bin
/Ritsukage-Core/obj
/.vs

TestResults
/**/bin
/**/obj
/Ritsukage-Core/Commands/RitsukageLive.cs
/Ritsukage-Core/Library/Data/LuaSTGDove.cs
/Ritsukage-Core/QQ/Commands/LuaSTG.cs
/Ritsukage-Core/QQ/Events/LuaSTG.cs
/Ritsukage-Core/Library/Data/LuaSTGActivityData.cs
/Ritsukage-Core/QQ/Commands/LuaSTGActivity.cs
/Ritsukage-Core/QQ/Commands/RitsukageLive.cs
/Ritsukage-Core/QQ/Commands/SuperAdminTool.cs
/Ritsukage-Core/QQ/Console
